<li>
  <span class="date"><%= investment.created_at -%></span>
  <span class="name"><%= investment.user.name -%></span>
  <span class="amount">
    <span class="original"><%= investment.amount -%></span>
    <span class="current"><%= investment.inflated_amount -%></span>
  </span>
  <%= link_to "Delete", investment_url(investment), :method => :delete -%>
</li>
