<div>
  <h1>Ledger</h1>
  <ol>
    <%= render :partial => 'houses/investment',
      :collection => @house.investments -%>
  </ol>
  <%= form_for :investment,
    :url => { :controller => :investments, :action => :create } do |f| -%>
    <%= f.hidden_field :house_id, :value => @house.id -%>
    <%= text_field_tag :user_name -%>
    <%= f.hidden_field :user_id -%>
    <%= f.text_field :amount -%>
    <%= f.submit -%>
  <%- end -%>
</div>
