<div>
  <h1>Investments</h1>
  <%- @house.members.each do |user| -%>
    <%= user.name -%>
    <%= @house.percent_ownership(user) =%>
    <ol>
      <%= render :partial => 'houses/investment',
        :collection => @house.investments.by_user(user) -%>
    </ol>
    <%= form_for :investment,
      :url => { :controller => :investments, :action => :create } do |f| -%>
      <%= f.hidden_field :house_id, :value => @house.id -%>
      <%= f.hidden_field :user_id, :value => user.id -%>
      <%= f.text_field :amount -%>
      <%= f.submit -%>
    <%- end -%>
  <%- end -%>
</div>
<div>
  <h1>Expenses</h1>
  <ol>
    <%= render :partial => 'houses/expense',
      :collection => @house.expenses -%>
  </ol>
  <%= form_for :expense,
    :url => { :controller => :expenses, :action => :create } do |f| -%>
    <%= f.text_field :amount -%>
      <%= f.submit -%>
  <%- end -%>
</div>
